*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea/*
/app/.idea
/app/.idea/*
/app/gradle/*
/app/gradlew
/app/gradlew.bat
/app/local.properties

