<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.majinxin1.emptylistview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:configChanges="orientation|keyboard"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="com.example.android.stackwidget.EXTRA_ITEM" />
                <action android:name="com.example.majinxin1.emptylistview_LISTVIEW" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.majinxin1.emptylistview_TWO" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.ExcutoersTestActivity" />
        <activity android:name=".activity.PetelleTestActivity"></activity>
    </application>

</manifest>